/* CSS RESET */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITIES */

:root{
     
    /* COLOR PALETTE */
    --violet:#9792E4;
    --orange:#FDC15F;
    --blu:#0084FD;
    --doggerblu:#B5DDFF;
    --grey:#5A6E7F;
    

}
.container{
    max-width: 1200px;
    margin:0 auto;
}

body{
    font-family: 'PT Sans', sans-serif;
}

.flex{
    display: flex;
}

.bg-doggerblue{
    background-color: var(--doggerblu);
}

.bg-violet{
    background-color: var(--violet);
}

.bg-blue{
    background-color: var(--blu);
}

.txt-center{
    text-align: center;
}

/* GENERAL */

img{
    max-width: 100%;
    display: inline-block;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0
}

.col{

    flex-basis: 100%;
    padding:10px;
    
}

.card{
    background-color: var(--doggerblu);
    border-radius: 25px;
    min-height: 200px;
    margin: 20px 0;
    padding: 0 30px;
    flex-basis: 100%;
}

button{
    padding: 10px 50px;
    border-radius: 20px;
    border: none;
    font-size: 17px;
    font-weight:bold;
    margin-bottom: 30px;
}

section{
    padding: 20px;
}

p{
    padding: 30px 0;
    line-height: 25px;
}

h2{
    padding-top: 20px;
}

.icons{
    font-size: 90px;
    color: var(--blu);
    padding-top: 20px;
}

/* MAIN HEADER */

#main-header{
    position: sticky;
    top:0; 
}

#main-navbar{
    height: 80px;
    justify-content: space-between;
    align-items: center;
    color:#fff;
    padding: 0 30px;
    
}

.h-menu{
    display: block;
}

#main-navbar ul{
    display: none;
    list-style-type: none;
}

#main-navbar li{
    display: inline-block;
}

/* SECTION GET DEMO */

#get-demo h2{
    color: var(--blu);
}



.main-demo.card{
display: flex;
align-items: center;
flex-direction: column;

}

#get-demo img{
    width: 250px;
}

#get-demo p{
color: var(--grey);
font-weight: bold;
}

.demo-content i{
    padding: 0 5px;
}

.demo-content button{
    color: #fff;

}
/* FOOTER */

footer{
    background-color: #333333;
    height: 300px;
    color: #fff;
    padding: 20px;
}


footer .container{
    max-width: 400px;
}

footer a{
    color: var(--violet);
}










/* MEDIA QUERY */

/* LYOUT FROM TO 577PX */

@media screen and (min-width: 577px){

    /* SECTION GET DEMO */

    #get-demo .main-demo{
        flex-basis: 65%;
    }
    
    #get-demo img{
        align-self: flex-start;
    }

    .demo .col{
        display: flex;
        flex-wrap:wrap ;
        justify-content: space-between;
    }

    .demo .card{
        flex-basis:30%;
    }


    /* SECTION BENEFITS */
    
    .benefits .card{
        flex-basis: 50%;
    }

     /* SECTION ABOUT US */
    
     .about-rec.card{
        flex-basis: 30%;
    }

    .about-info.card{
        flex-basis: 70%;
    }
    
    /* FOOTER */

    footer .container{
        max-width: 480px;
    }
}

/* LAYOUT FROM TO 769PX  */

@media screen and (min-width: 769px) {
    
    /* SECTION GET DEMO */
    .h-menu{
        display: none;
    }
    
    #main-navbar ul{
        display: block;
    }
    
    .main-demo.card{
        flex-direction: row;
        }

        #get-demo img{
            align-self: flex-end;
        }


    /* SECTION PLANNING */

    .plan .col{
        flex-basis: 50%;
    }

    /* SECTION BENEFITS */
    
    .benefits .card{
        flex-basis: calc(100%/3);
    }

}