/* CSS RESET */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITIES */

:root{
     
    /* COLOR PALETTE */
    --violet:#9792E4;
    --orange:#FDC15F;
    --blu:#0084FD;
    --doggerblu:#B5DDFF;
    --grey:#5A6E7F;
    

}
.container{
    max-width: 1200px;
    margin:0 auto;
}

body{
    font-family: 'PT Sans', sans-serif;
}

.flex{
    display: flex;
}

.bg-doggerblue{
    background-color: var(--doggerblu);
}


.bg-blue{
    background-color: var(--blu);
}

.bg-violet{
    background-color: var(--violet);
}

.txt-violet{
    color: var(--violet);
}
.txt-center{
    text-align: center;
}

/* GENERAL */


.row{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 25px;
}

.col{

    flex-basis: 100%;
    padding:20px;
    
}

.card{
    border-radius: 25px;
    margin: 20px 0;
    height: 100%;
    padding: 0 20px;
}

button{
    padding: 10px 50px;
    border-radius: 20px;
    border: none;
    font-size: 17px;
    font-weight:bold;
    margin-bottom: 30px;
}

section{
    padding: 25px;
}

section:nth-child(even){
    background-color: var(--violet);
}

p{
    padding: 30px 0;
    line-height: 30px;
}

h1{
    padding: 20px 0;
    font-size: 40px;
}

h2{
    padding-top: 20px;
}

.icons{
    font-size: 80px;
    color: var(--blu);
    padding-top: 20px;
}

/* MAIN HEADER */

#main-header{
    position: sticky;
    top:0; 
    left:0;
}

#main-navbar{
    height: 80px;
    justify-content: space-between;
    align-items: center;
    color:#fff;
    padding: 0 30px;
    
}

.h-menu{
    display: block;
}

#main-navbar ul{
    display: none;
    list-style-type: none;
}

#main-navbar li{
    display: inline-block;
    margin: 0 15px;
}

#main-navbar a{
    color: #fff;
    text-decoration: none;
}

#main-navbar .log-in a:last-child{
    color: #000;
    background-color: #fff;
    padding : 10px 15px;
    border-radius: 20px;
}

/* SECTION GET DEMO */

#get-demo h2{
    color: var(--blu);
}

#get-demo .card{
    background-color: var(--doggerblu);
}

.main-demo.card{
display: flex;
align-items: center;
justify-content: space-between;
flex-direction: column;
}

#get-demo img{
    width: 250px;
}

#get-demo p{
color: var(--grey);
font-weight: bold;
}

.demo-content i{
    padding: 0 5px;
}

.demo-content button{
    color: #fff;

}

/* PLANNING SECTION */

#planning img{
    max-width: 100%;
}

.strategic.card{
    background-color: var(--violet);
    padding-top: 25px;
    color: #fff;
}

.app.card{
    background-color: #fff;
    text-align: center;
    padding: 30px 0;
}

.app p{
    font-style: italic;
    font-size: 17px;
}

.app .arrow-down{
    display: inline-block;
    background-color: var(--violet);
    width: 50px;
    height: 50px;
    border-radius: 60%;
    line-height: 50px;
}

/* TESTIMONIAL SECTION */

#testimonials{
    padding: 100px 50px;
}
 .testimonial.row{
    flex-direction: column;
 }

 #testimonials p{
    font-size: 20px;
 }

 #testimonials h1{
    color: var(--violet);
 }

 .testimonial.card{
    padding: 25px;
    color: #fff;
 }

 .ret-circular{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
 }

 .testimonial img{
    width: auto;
    height: 100%;
    margin-left: -50px;
 }

 /* BENEFIT SECTION */

 #benefits{
    color: #fff;
 }

 .benefits.card{
    background-color: #fff;
    text-align: left;
    padding: 0 30px;
 }

 #benefits h2{
    font-size: 65px;
    padding-bottom: 10px;
 }

 #benefits p{
    color: var(--grey);
 }

 #benefits h1{
    padding: 40px 0;
 }

 #benefits button{
    color: #fff;
    margin: 0;
 }

/* GET STARTED SECTION */

#get-started{
    color: #fff;
}

#get-started h2{
    font-size: 35px;
}

#get-started h1{
    color:var(--orange);
    font-size: 80px;
}

#get-started button {
    color: var(--violet);
    padding: 20px 90px;
    border-radius: 50px;
    font-size: 19px;
}

#get-started a{
    color: #fff;
}

#get-started .container{
    max-width: 600px;
}

/* FOOTER */

footer{
    background-color: #333333;
    height: 300px;
    color: #fff;
    padding: 20px;
}


footer .container{
    max-width: 400px;
}

footer a{
    color: var(--violet);
}










/* MEDIA QUERY */

/* ####### TABLET ####### */

@media screen and (min-width: 768px){

    /* SECTION GET DEMO */

    
    #get-demo img{
        align-self: flex-start;
    }

    .demo .col{
        flex-basis: calc(100% / 3);
    }

    #get-demo .col:first-child{
        flex-basis: calc( 100% / 3 * 2);
    }
   
   /* TESTIMONIAL SECTION */

   #testimonials .card{
    display: flex;
   }


    /* SECTION BENEFITS */
    

    .benefits .col{
        flex-basis: 50%;
    }

    .benefits .row{
        margin: 0 -40px;
    }

     /* SECTION ABOUT US */
    
     .about-rec.card{
        flex-basis: 30%;
    }

    .about-info.card{
        flex-basis: 70%;
    }
    
    /* SECTION GET STARTED */

    #get-started h2{
        font-size: 50px;
    }

    /* FOOTER */

    footer .container{
        max-width: 480px;
    }
}

/* ####### DESKTOP ######## */

@media screen and (min-width: 992px) {
    
    /* HEADER */
    .h-menu{
        display: none;
    }

    #main-navbar ul{
        display: block;
    }

    /* SECTION GET DEMO */
    
    
    .main-demo.card{
        display: flex;
        flex-direction: row;
        min-height: 100%;
        }

        #get-demo img{
            align-self: flex-end;
        }

    /* SECTION PLANNING */

    .plan .col{
         flex-basis: 50%;
         align-self: flex-end;
     }
    
     .strategic img{
        margin-bottom: 120px;
     }

     .app img{
        width: 250px;
     }

     #planning .container{
        padding: 0 100px;
     }

     /* SECTION BENEFITS */

    .benefits .col{
        flex-basis: calc(100%/3);
    }

}

